{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <h1>login</h1>
    {% if form.errors %}
        <p>Your username and password didn't match . please try again</p>
    {% endif %}
    <p>input</p>
    <form action="{% url 'account:user_login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}"><span></span>Username</label>
            <div>{{ form.username }}</div>
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}"><span></span>Password</label>
            <div>{{ form.password}}</div>
        </div>
        <input type="submit" value="login">
    </form>
</div>


<label for="exampleColorInput" class="form-label">Color picker</label>
<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
{% endblock %}