{%extends 'base.html'%}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/my.tmp.css' %}">

{% endblock %}

{% block content %}
<section>
  <div class="container d-flex flex-column">
    <!-- row -->
    <div class="row min-vh-100 justify-content-center align-items-center">
      <!-- col -->
      <div class="offset-lg-1 col-lg-10  py-8 py-xl-0">
        <div class=" mb-10 mb-xxl-0">
          <!-- img -->
          <a href="../index.html"> <img src="../assets/images/logo/freshcart-logo.svg" alt=""></a>
        </div>
        <div class="row justify-content-center align-items-center">
          <!-- content -->
          <div class="col-md-6">
            <div class=" mb-6 mb-lg-0">
              <h1>Something’s wrong here...</h1>
              <p class="mb-8">We can’t find the page you’re looking for.<br>
                Check out our help center or head back to home.</p>
              <!-- btn -->
              <a href="#" class="btn btn-dark">Help Center <i class="feather-icon icon-arrow-right"></i></a>
              <!-- btn -->
              <a href="../index.html" class="btn btn-primary ms-2">Back to home</a>
            </div>

          </div>
          <div class="col-md-6">
            <div>
              <!-- img -->
              <img src="{% static 'img/error.svg' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<tr>
  <th><label for="id_company">测序公司:</label></th>
  <td>
    <select name="company" class="form-control" placeholder="测序公司" required id="id_company">
      <option value="" selected>---------</option>
      <option value="1">明码生物</option>
      <option value="2">诺和</option>
      <option value="3">RootPath-US</option>
    </select>
  </td>
</tr>
<tr>
  <th><label for="id_area">区域:</label></th>
  <td>
    <select name="area" class="form-control" placeholder="区域" required id="id_area">
      <option value="" selected>---------</option>
      <option value="1">华东</option>
      <option value="2">华北2(北京)</option>
      <option value="3">华东2(上海)</option>
      <option value="4">自定义(US)</option>
    </select>
  </td>
</tr>
<tr>
  <th><label for="id_data_path">数据路径:</label></th>
  <td>
    <input type="text" name="data_path" maxlength="332" class="form-control" placeholder="数据路径" required
      id="id_data_path">
  </td>
</tr>