{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tools:tools_list' %}">在线工具</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tools_name }}</li>
        </ol>
    </nav>
    <div class="row pt-3 mt-3 form-control">
        <div class="col">
            <h3 class="panel-title">Tools of {{ tools_name }} Usage</h3>
            <p>...</p>
        </div>
    </div>
    <div class="row pt-3 mt-3 form-control">
        <!-- Form -->
        <form class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="mb-4">
                <label for="formFileLg" class="form-label">文件1 (必须包含"Gene_ID", "Destination plate name","Destination well"
                    三列) <a href="/media/files/tools_example/project_re-pooling/input1.xlsx"
                        download="input1.xlsx">点击下载查看样例</a></label>
                <input class="form-control form-control-lg" required="required" type="file" id="formFile" name="file_name1">
            </div>
            <div class="mb-4">
                <label for="formFileLg" class="form-label">文件2(Gene_ID list) <a
                        href="/media/files/tools_example/project_re-pooling/input2-genelist.xlsx"
                        download="input2-genelist.xlsx">点击下载查看样例</a> </label>
                <input class="form-control form-control-lg" required="required" id="formFileLg" type="file" name="file_name2">
            </div>
    
            <div class="col-xs-7 mb-3">
                <button type="submit" class="btn btn-primary btn-lg">开始</button>
            </div>
        </form>
        <!-- End form -->
    </div>

</div>
{% endblock %}