{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row pt-3">
        <div class="col">
            <h3 class="panel-title">Project of {{ tools_name }} Utilities</h3>
        </div>
    </div>
    <div class="mb-4">
        <label for="formFileLg" class="form-label">文件1 (必须包含"Gene_ID", "Destination plate name","Destination well" 三列)  <a
                href="/media/files/tools_example/project_re-pooling/input1.xlsx"
                download="input1.xlsx">点击下载查看样例</a></label>
        <input class="form-control form-control-lg" type="file" id="formFile" name="file1_name1">
    </div>
    <div class="mb-4">
        <label for="formFileLg" class="form-label">文件2(Gene_ID list) <a
                href="/media/files/tools_example/project_re-pooling/input2-genelist.xlsx"
                download="input2-genelist.xlsx">点击下载查看样例</a> </label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name="file_name2">
    </div>

    <div class="col-xs-7 mb-3">
        <button type="submit" class="btn btn-primary btn-lg">开始</button>
    </div>

</div>
{% endblock %}