{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row pt-3 form-control mt-3">
        <div class="col">
            <h3 class="panel-title">Tools of {{ tools_name }} Usage</h3>
            <p>...</p>
        </div>
    </div>
    <div class="row form-control pt-4 mt-4">
        <form class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="mb-4">
                <label for="formFileLg" class="form-label">fasta文件 <a
                        href="/media/files/tools_example/split_fasta/SW004_HC002005SP02_SACO_HC25b27_Merged_20220526_231708_HC25SP02_CDR3J.txt"
                        download="SW004_HC002005SP02_SACO_HC25b27_Merged_20220526_231708_HC25SP02_CDR3J.txt">点我查看样例</a></label>
                <input class="form-control form-control-lg" type="file" required="required" id="formFile" name="file_name">
            </div>
            <div class="col-xs-7 mb-3">
                <button type="submit" class="btn btn-primary btn-lg">开始</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}