{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tools:tools_list' %}">在线工具</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tools_name }}</li>
        </ol>
    </nav>
    <div class="row form-control mt-3 pt-3">
        <div class="col">
            <h3 class="panel-title">Tools of {{ tools_name }} Usage</h3>
        </div>

        <div class="row pt-3">
            <div class="col">
                <h5 class="panel-body">
                    <br>
                    Sanger数据分析<br><br>
                    &emsp;数据的接收与处理（接收sanger返回的zip文件，zip文件中不能有子文件夹）<br><br>
                    
                    项目名称：<br>
                    &emsp;为你的项目提供一个可辨识，唯一的项目名称：举例如下：
                    &emsp;20221010_SW015_CR501001_1st_Sanger<br><br>
                    
                    index文件：
                    &emsp;每次需上传index文件（即参考序列fasta格式, 如*VCVatcc.txt）。<br>
                    &emsp;第二次测序也需要提供index文件。<br><br>
                    
                    确保压缩文件格式真确：文件中只包含ab1，seq的文件，不能有子文件夹。
                    仅支持 zip，rar两种压缩格式。<br><br>

                    点击upload按钮会返回一个id，使用该id查看分析进度，完成后下载结果。
                    <br>
                </h5>
            </div>
        </div>
    </div>
    <div class="row form-control mt-3 pt-3">
        <form class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="mb-4 pt-3">
                <label for="formFileLg" class="form-label">Sanger File(zip file)
                    <a href="/media/files/tools_example/plasmid_map/SW015_CR501001_SACO_CR501001_Merged_20220918_123510_VCVatcc.txt"
                        download="SW015_CR501001_SACO_CR501001_Merged_20220918_123510_VCVatcc.txt">点击下载查看样例</a></label>
                <input class="form-control form-control" required="required" type="file" id="formFile1"
                    name="file_name1">
            </div>

            <div class="mb-4 pt-3">
                <label for="formFileLg" class="form-label">reference file(VCVatcc.txt)
                    <a href="/media/files/tools_example/Sanger_data_upload/SW018_SA501001TIL01_SP09_convCD4T_12TCRs_VCVatcc.txt"
                        download="SW018_SA501001TIL01_SP09_convCD4T_12TCRs_VCVatcc.txt">点击下载查看样例</a></label>
                <input class="form-control form-control" required="required" type="file" id="formFile2"
                    name="file_name2">
            </div>

            <div class="mb-4 pt-3">
                <label for="" class="form-label">Project Name:</label>
                <input type="text" class="form-control" placeholder="20221010_SW015_CR501001_1st_Sanger" name="project_name" required="required" />
            </div>
            <div class="col-xs-7 mb-3">
                <button type="submit" class="btn btn-primary" id="submitBtn">Upload</button>
            </div>
            <div class="col-xs-7 mb-3">
                {% if check_available %}
                    <span id="uniqueIdSpan">Your Unique ID: {{ unique_id }}</span>
                    <a href="{% url 'tools:check_status' %}">Check Here</span>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
