{% extends 'base.html' %}
{% load static %}

<!-- 引用tools的css文件 -->
{% block head_css %}
<link rel="stylesheet" href="{% static 'CSS/upload_form.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tools:tools_list' %}">在线工具</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tools_name }}</li>
        </ol>
    </nav>
    <div class="row form-control mt-3">
        <div class="row pt-3">
            <div class="col">
                <h3 class="panel-title">Tools of '{{ tools_name }}' Usage:</h3>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- <h3 class="panel-default">{{ tools_name }}</h3> -->
                <h5 class="panel-body">
                    <p>介绍：</p>
                    <p style="text-indent:2em;">该工具是一个将孔板格式的excel文件，通过转置的形式转换成长表的网页工具。</p>
                </h5>
                <h5 class="panel-body">
                    <p>注意事项：</p>
                    <p style="text-indent:2em;">1. 支持文件名为中文，文件名中包含空格。</p>
                    <p style="text-indent:2em;">2. 内容可以包含空sheet（即只有sheet名，没有内容），但不能有非孔板格式的sheet。</p>
                    <p style="text-indent:2em;">3. 支持96孔板，384孔板等，只要格式符合孔板结构（第一行为孔板数字编号1234...，第一列为孔板字母编号ABCD...）。</p>
                </h5>
            </div>
        </div>
    </div>
    <div class="row form-control mt-3">
        <!-- Form -->
        <form class="form-group pt-3" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="mb-4">
                <label for="formFileLg" class="form-label">文件 (孔板格式) <a
                        href="/media/files/tools_example/project_normalization/input.xlsx"
                        download="input.xlsx">点击下载查看样例</a></label>
                <input class="form-control form-control-lg" required="required" type="file" id="formFile"
                    name="file_name1">
            </div>

            <div class="col-xs-7 mb-3">
                <button type="submit" class="btn btn-primary btn-lg">开始</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}