{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row pt-3">
        <div class="col">
            <h3 class="panel-title">Project of {{ tools_name }} Utilities</h3>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <h4 class="panel-body">该工具会在fasta文件中每一条序列前后各加上AAV6_Kan_5End_Region和AAV6_Kan_3End_Region序列，使得到完成plasmid环状结构
            </h4>
            <h4 class="panel-body">AAV6_Kan_5End_Region，AAV6_Kan_3End_Region已内置，无需提供！</h4>
        </div>
    </div>

    <div class="row mb-3 pt-3">
        <div class="col">
            <h4>Start to Use</h4>
        </div>
    </div>

    <form class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="mb-4 pt-3">
            <label for="formFileLg" class="form-label">fasta文件
                <a href="/media/files/tools_example/plasmid_map/SW004_HC002005SP02_SACO_HC25b27_Merged_20220526_231708_HC25SP02_CDR3J.txt"
                    download="SW004_HC002005SP02_SACO_HC25b27_Merged_20220526_231708_HC25SP02_CDR3J.txt">点击下载查看样例</a></label>
            <input class="form-control form-control-lg" required="required" type="file" id="formFile" name="file_name">
        </div>
        <div class="col-xs-7 mb-3">
            <button type="submit" class="btn btn-primary btn-lg">开始</button>
        </div>
    </form>
</div>
{% endblock %}