*.zip
*.xlsx
rootpath_tools/
*rootpath_tools/*
rootpath_PicWall/app02/tools/*
rootpath_PicWall/media/*
rootpath_PicWall/rootpath_PicWall/settings.py
*config
*.pyc
*log
rootpath_PicWall/*.log
*\.*
rootpath_PicWall/celery.log
