.form-item {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
}

.form-item label{
    width: 126px;
    text-align: right;
}

.form-item input{
    width: 400px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #cccccc;
    padding-left: 14px;
    box-sizing: border-box;
    margin-left: 18px;
}

#fileInput {
    width: 120px;
    margin-left: 8px;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
    position: absolute;
    right: 370px;
    z-index: 2;
}

.file-btn {
    width: 120px;
    height: 40px;
    background:rgba(230,242,255,1);
    border: 1px solid rgba(167,210,255,1);
    border-radius: 2px;
    text-align: center !important;
    line-height: 40px;
    color: #333333;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 8px;
}

#applyLicense {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}