{% extends "base.html" %}
{% block title %} Course List {% endblock %}

{% block content %}

<section class="bg-light position-relative">
	<div class="container position-relative">
		<div class="row pt-4">
			<div class="col-12">
				<div class="row align-items-center">

					<!-- Image -->
					<div class="col-6 col-md-3 text-center order-1">
						<img src="https://eduport.webestica.com/assets/images/element/category-1.svg" alt="">
					</div>

					<!-- Content -->
					<div class="col-md-6 px-md-5 text-center position-relative order-md-2 mb-5 mb-md-0">
						<!-- Title -->
						<h1 class="mb-3">What do you want to learn?</h1>
						<p class="mb-3">Grow your skill with the most reliable online courses and certifications</p>

						<!-- Search -->
						<form class="bg-body rounded p-2">
							<div class="input-group">
								<input class="form-control border-0 me-1" type="search" placeholder="Search course ">
								<button type="button" class="btn btn-dark mb-0 rounded">Search</button>
							</div>
						</form>
					</div>

					<!-- Image -->
					<div class="col-6 col-md-3 text-center order-3">
						<img src="https://eduport.webestica.com/assets/images/element/category-2.svg" alt="">
					</div>
                    
				</div> <!-- Row END -->
			</div>
		</div> <!-- Row END -->
	</div>
</section>

<section>
	<div class="container pb-5">
		<!-- Title -->
		<div class="row mb-4 pt-5">
			<div class="col-lg-8 mx-auto text-center">
				<h2>Choose a Categories</h2>
				<p class="mb-0">Perceived end knowledge certainly day sweetness why cordially</p>
			</div>
		</div>

		<div class="row g-4">
			<!-- Item -->
            {% for course in courses %}
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-success bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="https://eduport.webestica.com/assets/images/element/online.svg" alt="">
					</div>
					<!-- Title -->
					<h5 class="mb-2"><a href="{% url 'course:lessons_list' course.id %}" class="stretched-link" style="text-decoration:none;">{{ course.title }}</a></h5>
					<h6 class="mb-0">{{ course.user.username }}</h6>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</section>

{% endblock %}