{% extends 'rootpath_layout.html' %}

{% block content %}
<!-- 让所有图片在网页中全屏滚动播放 -->

<!-- 添加一个播放音乐的小组件 -->
<!-- <audio id="audio" src="/static('rootpath_PicWall/app02/static/music/music.mp3') }}" autoplay="autoplay" loop="loop"></audio> -->
<audio controls="controls" autoplay="autoplay" loop="loop">
    <!-- <source src="/static/music/1.mp3" type="audio/mp3" /> -->
    <source src="/static/music/2.mp3" type="audio/mp3" />
    <embed height="0" width="0" src="/static/music/2.mp3" />
</audio>
<!-- 设定一块区域用于展示图片 -->
<style>
    *{margin:0px auto; padding:0px;}
    #kuangjia
    {width:1000px;height: 1000px; background-size:contain; background-repeat:no-repeat;}
    .t1
    {width:60px; height:60px; background-repeat:no-repeat; background-size:contain;}
    #t2
    {float:left; margin:200px 0px 0px 20px; background-image:url(zuo.png);}
    #t3
    {float:right; margin:200px 20px 0px 0px; background-image:url(you.png);}
</style>
<div id="kuangjia"><!--大div作为框架-->
    <div class="t1" id="t2"></div>
    <div class="t1" id="t3"></div>
</div>


<!-- 定义一个集合，将所有图片的路径放入集合中 -->
<script>
    var jh = new Array();
    {% for photo in queryset %}
        jh.push("url({{ MEDIA_URL }}{{ photo.photo_path }})");
    {% endfor %}
</script>

<!-- 设置自动播放功能：每隔2s切换一张图 -->
<script>
    var kj=document.getElementById("kuangjia");
    var x=-1;
    var l=jh.length;
    function lb()
    {
        x++;
        if (x==l)
        {
            x=0;
        }
        kj.style.backgroundImage=jh[x];
        window.setTimeout("lb()",2000);
    }
    window.setTimeout("lb()",0);
</script>


{% endblock %}