{% extends 'rootpath_layout.html' %}

{% block content %}
<div class="container">
    <!-- <div style="margin-bottom:10px">
        <a class="btn btn-success" href="/data/add/" target="_black">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            添加新数据</a>
    </div> -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            项目列表
        </div>
        <!-- Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>项目</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in queryset %}
                <tr>
                    <th>{{ obj.id }}</th>
                    <td>{{ obj.data_path }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" , href="/data/{{ obj.id }}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" , href="/data/{{ obj.id}}/delete/">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class='pagination'>
        {{ page_string}}
    </ul>
</div>
{% endblock %}