{% extends 'rootpath_layout.html' %}
{% load static %}
<!-- 引用tools的css文件 --> 
{% block head_css %}
    <link rel="stylesheet" href="{% static 'CSS/tools.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">RootPath 小工具</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            已开发小工具
        </div>
        <!-- 循环展示所有工具 -->
        {% for obj in queryset %}
        <div class="main-top-con-cell box-shadow">
            <div class="box" style="float: left"> 
                <a href="/tools/{{ obj.tools_name }}/use/" class="item-icon" style="position: relative">
                    <img src="/static/img/tools_icon/{{ obj.tools_name }}.icon.png" class="icon-img">
                </a>
                <p><span class="vip-tip">VIP</span></p>
            </div>

            <div style="float: right; width: 255px;">
                <!-- <div class="likeable"><p>1</p></div> -->
                <!-- <div class="likeable" style="float:right;">
                    <p>{{ obj.use_freq }}</p>
                </div> -->
                <h3>
                    <a target="_blank" href="/tools/{{ obj.tools_name }}/use/" style="color:#0f2436" title="{{ obj.tools_name }}">
                        {{ obj.tools_name }}
                    </a>
                </h3>
                <p class="item-bd" >{{ obj.tools_desc }}</p>
                <!-- <span class="badge">1</span> -->
            </div>
        </div>
        {% endfor %}

        <!-- <div class="box">
            <img src="{% static 'img/tools_icon/split_fasta.icon.png' %}" alt="">
        </div> -->

    </div>
</div>
{% endblock %}