{% extends 'rootpath_layout.html' %}
{% load static %}

<!-- 引用tools的css文件 --> 
{% block head_css %}
    <link rel="stylesheet" href="{% static 'CSS/upload_form.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ tools_name }}</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            小工具
        </div>
        <!-- Form -->
        <div class="panel-body">
            <form class="form-group" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-xs-7">
                    <div class="form-group">
                        <label for="">文件1 (384孔板格式)<a href="/media/files/tools_example/project_normalization/input.xlsx"  download="input.xlsx">点击下载查看样例</a></label>
                        <input type="text" class="form-control" placeholder="上传文件" name="file1" />
                        <input type="file" name="file_name1" />
                    </div>
                </div>
                <div class="col-xs-7">
                    <button type="submit" class="btn btn-primary">开始</button>
                </div>
            </form>
            <!-- <div class="form-item">
                <label for="applyLicense">文件1（xxx）</label>
                <input readonly style="width:268px" id="applyLicense" type="text" placeholder="shangchuan" autocomplete="off">
                <input id="fileInput" type="file" name="file">
                <label for="fileInput" class="file-btn">shangchuan</label>
            </div> -->
        </div>
    </div>

</div>
{% endblock %}
