{% extends 'rootpath_layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">pyxls</h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            小工具
        </div>
        <!-- Form -->
        <div class="panel-body">
            <form class="form-group" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-xs-7">
                    <div class="form-group">
                        <label for="">input文件  <a href="/media/files/tools_example/pyxls/test.input.xlsx" download="test.input.xlsx">点击下载查看样例</a></label>
                        <input type="text" class="form-control" placeholder="上传文件" name="file_name" />
                        <input type="file" name="labRecord_file" />
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="form-group">
                        <label for="">孔板浓度信息文件  <a href="/media/files/tools_example/pyxls/test.384wells.xlsx" download="test.384wells.xlsx">点击下载查看样例</a> </label>
                        <input type="text" class="form-control" placeholder="上传浓度信息文件" name="file_name" />
                        <input type="file" name="well_file" />
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="form-group">
                        <!-- 设置一个输入框，让用户输入总体积 -->
                        <label for="">总体积</label>
                        <input type="text" class="form-control" placeholder="40000000000" name="total_volume" />
                    </div>
                </div>
                <div class="col-xs-7">
                    <button type="submit" class="btn btn-primary">开始合并</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
