{% extends 'rootpath_layout.html' %}
{% load static %}

<!-- 引用tools的css文件 --> 
{% block head_css %}
    <link rel="stylesheet" href="{% static 'CSS/upload_form.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- <h3 class="panel-default">{{ tools_name }}</h3> -->
            <h4 class="panel-body"><p>介绍：</p>
                <p style="text-indent:2em;">该工具是一个将孔板格式的excel文件，通过转置的形式转换成长表的网页工具。</p>
            </h4>
            <h4 class="panel-body"><p>注意事项：</p>
                <br>
                <p style="text-indent:2em;">1. 支持文件名为中文，文件名中包含空格。</p>
                <br>
                <p style="text-indent:2em;">2. 内容可以包含空sheet（即只有sheet名，没有内容），但不能有非孔板格式的sheet。</p>
                <br>
                <p style="text-indent:2em;">3. 支持96孔板，384孔板等，只要格式符合孔板结构（第一行为孔板数字编号1234...，第一列为孔板字母编号ABCD...）。</p>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            {{ tools_name }}
        </div>
        <!-- Form -->
        <div class="panel-body">
            <form class="form-group" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-xs-7">
                    <div class="form-group">
                        <label for="">文件 (孔板格式)<a href="/media/files/tools_example/project_normalization/input.xlsx"  download="input.xlsx">点击下载查看样例</a></label>
                        <input type="text" class="form-control" placeholder="上传文件" name="file1" />
                        <input type="file" name="file_name1" />
                    </div>
                </div>
                <div class="col-xs-7">
                    <button type="submit" class="btn btn-primary">开始</button>
                </div>
            </form>
            <!-- <div class="form-item">
                <label for="applyLicense">文件1（xxx）</label>
                <input readonly style="width:268px" id="applyLicense" type="text" placeholder="shangchuan" autocomplete="off">
                <input id="fileInput" type="file" name="file">
                <label for="fileInput" class="file-btn">shangchuan</label>
            </div> -->
        </div>
    </div>

</div>
{% endblock %}
