<!-- <div class="bg-info">
    <div class="text-center" style="margin-top: 5px;">
        <p><h4>课程管理</h4></p>
        <p><a href="{% url 'course:manage_course' %}">课程管理</a></p> 
    </div>    
</div>  -->
<div class="container">
<div class="col-4">
    <div class="border rounded-3 p-3 w-100">
        <!-- Dashboard menu -->
        <div class="list-group list-group-dark list-group-borderless">
            <a class="list-group-item" href="instructor-dashboard.html"><i
                    class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
            <a class="list-group-item" href="instructor-manage-course.html"><i class="bi bi-basket fa-fw me-2">
                </i>My Courses</a>
            <a class="list-group-item" href="instructor-quiz.html"><i
                    class="bi bi-question-diamond fa-fw me-2"></i>Quiz</a>
            <a class="list-group-item" href="instructor-earning.html"><i
                    class="bi bi-graph-up fa-fw me-2"></i>Earnings</a>
            <a class="list-group-item" href="instructor-studentlist.html"><i
                    class="bi bi-people fa-fw me-2"></i>Students</a>
            <a class="list-group-item" href="instructor-order.html"><i
                    class="bi bi-folder-check fa-fw me-2"></i>Orders</a>
            <a class="list-group-item" href="instructor-review.html"><i class="bi bi-star fa-fw me-2"></i>Reviews</a>
            <a class="list-group-item" href="instructor-edit-profile.html"><i
                    class="bi bi-pencil-square fa-fw me-2"></i>Edit Profile</a>
            <a class="list-group-item" href="instructor-payout.html"><i class="bi bi-wallet2 fa-fw me-2"></i>Payouts</a>
            <a class="list-group-item active" href="instructor-setting.html"><i class="bi bi-gear fa-fw me-2"></i>Settings</a>
            <a class="list-group-item" href="instructor-delete-account.html"><i class="bi bi-trash fa-fw me-2"></i>Delete Profile</a>
            <a class="list-group-item text-danger bg-danger-soft-hover" href="sign-in.html"><i
                    class="fas fa-sign-out-alt fa-fw me-2"></i>Sign out</a>
        </div>
    </div>
</div>
</div>